/* Work Samples CSS */

h1, h2, h3, h4, h5, h6 {font-family: 'Merriweather', serif; font-weight:700;}
p, li {font-family: 'Quicksand', sans-serif; font-weight:400;}
blockquote {font-family: 'Merriweather', serif; font-weight:300; font-style:italic;}
strong {font-weight:700;}
.pageHeader {font-weight:900;}
.whamo {font-family: 'Bangers', cursive;}
.samples img {width:180px; display:inline-block; padding:12px;}

